<div class="page-flex">
  <app-modal-form class="flex-item" [submitText]="'Search'" (modelEmitter)="search($event)"
                   [title]="'Search People'" [fieldDefinitions]="fieldDefinitions"
  [hidden]="['addressId']" [disabled]="['addressId']">
  </app-modal-form>
  <p class="flex-spacer"></p>
  <button mat-raised-button color="primary" (click)="add()">Add</button>
  <p class="flex-spacer"></p>
  <app-paging-rest-table class="flex-item" [pagingService]="personService"
                         [columns]="fieldDefinitions" [snackBar]="snackBar" [editCallBack]="this.editFn()">
  </app-paging-rest-table>
</div>
